<nav class="navbar navbar-center">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Home</a>
      <a class="navbar-brand" routerLink="sports">Sports</a>
      <a class="navbar-brand"routerLink="politics">Politics</a>
      <a class="navbar-brand" routerLink="technology">Technology</a>
      <a class="navbar-brand" routerLink="fashion">Fashion</a>
      <a class="navbar-brand" routerLink="about">About</a>

      <form action="" class="navbar-form navbar-right">
          <div class="input-group">
              <input type="Search" placeholder="Search..." class="form-control" />
              <div class="input-group-btn">
                  <button class="btn btn-info" (click)="searchBy">Search
                  </button>
              </div>
          </div>
       </form>
    </div>
  </div>
</nav>
<br>
<hr>
<router-outlet></router-outlet>